.faq-page {
  padding: 20px;

  main {
    width: 100%;
    padding: 0 40px;

    h1 {
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 24px;
      margin-bottom: 12px;
      color: var(--primary-color);
    }

    p {
      margin-bottom: 16px;
      line-height: 1.8;
      color: var(--text-color);
    }
  }
}
